* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header {
    grid-column: 2 / 3;
}

.search-bar {
    margin: 30px;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

input:focus {
    outline: 1px solid gray;
}

#search {
    font-size: 0.9rem;
    background-color: lightgrey;
    border-radius: 10px;
    width: 500px;
    min-height: 25px;
}

.dashboard {
    grid-row: 1 / 3;
}

.main-content {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 600px;
    gap: 25px;
}